.detalhesLocalizacao{
    background: #fff;
    overflow: hidden;

    @media(min-width:769px) {
        margin: 0 15%;
    }

    @media(min-width:1025px) {
        margin: 0 25%;
    }

    a{
        text-decoration: none; 
    }
    
    &-content {
        display: flex;
        flex-direction: column;
    }

    .detalhesLocalizacao-voltar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;
        margin-top: 20px;
        span{
            font-size: 1.2em;
            color: #0E0E0E;
            font-weight: bold;
            margin-left: 12px ;
        }

        img{
            width: 16px;
            height: 16px;
        }
    }

    .postagem{
        width: 100%;
        margin-top: 32px;

        &-texto {
            margin-left: 45px;
        }

        &-descricao-localizacao {
            margin: 16px auto 0;
            width: 80%;

            h4 {
                margin-bottom: 8px;
            }

            @media(min-width: 769px){
                width: 100%;
                max-width: 900px;
                margin: 16px auto 0;
            }
        }

        @media(min-width: 769px){
            margin: 0 auto;
        }
    }

    
    .detalhesLocalizacao-mapa{
        width: 80%;
        margin: 0 auto;
        height: 45%;
           
        min-height: 220px;
        max-height: 540px;
        min-width: 280px;
        max-width: 800px;

        @media(min-width:769px) {
            width: 100%;
            max-width: 900px;
            margin: 16px auto;
        }
    }
    
    
}