.forgot-wrapper {
  display: flex;

  a {
    color: #000000;
  }

  .final {
    width: 100%;
    text-align: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  section {
      margin: 24px 16px 0;
      width: 100%;

      h5 {
        font-weight: 500;
        font-size: 14px;
      }

      textarea {
        width: 60%;
        resize: none;
        max-height: 100px;
        background-color: #EDEDED;
        border-radius: 4px;
        border: none;
        margin-top: 8px;
        padding: 12px;
      }

      input {
        width: 100%;
        resize: none;
        max-height: 100px;
        background-color: #EDEDED;
        border-radius: 4px;
        border: none;
        margin-top: 8px;
        padding: 12px;
      }
  }

  .split {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  .left {
    background-color: #32B9BE;
    color: white;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .right {
    .right-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
  }

  .centered {
    display: flex;
    flex-direction: column;
    width: 80%;

    h1 {
      text-align: center;
    }
  }

  .Button {
    background-color: #32B9BE;
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;


    padding: 12px;

    font-size: 12px;
    cursor: pointer;
    color: #fff;

    width: 100%;
    border-radius: 4px;

    input {
      display: none;
    }
    
  }

  hr{
    margin: 26px 8px;
    border: 0;
    border-top: 1px solid #32B9BE;
    width: 62%;
  }

  .green-link {
    color: #32B9BE;
  }
}
