.menu-mobile{
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color: #32B9BE;
    position: fixed;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    
    display: flex;

    @media(min-width: 768px){
        display: none;
    }

    .menu-mobile-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 50px;
    }
}